.full-screen{
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    height: 100vh;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.between{
    display: flex;
    justify-content: space-around;
}

.block{
    display: block;
}

.p-1{
    padding: 5px;
}

.flex-1{
    flex-direction: column;
}

.text-s{
    font-size: 14px;
}

.group{
    display: flex;
    height: 30px;
    width: 300px;
    margin-bottom: 20px;
    label{
        border-radius: 5px 0px 0px 5px;
        border: 1px solid ;
        height: auto;
        width: auto;
        padding: 0px 15px 0px 15px;
        margin: 0;
        border: 1px solid #e5e5e5;
        display: flex;
        align-items: center;
    }
    input{
        display: flex;
        height: auto !important;
        width: inherit;
        border-radius: 0px 5px 5px 0px;
        border: 1px solid #e5e5e5;
        border-left: none;
        margin: 0;
        padding: 0px 0px 0px 10px;
        outline: none;
    }
}
form{
    button{
        padding: 10px 10px 10px 10px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        box-shadow: 0px 4px 5px -1px rgb(0, 0, 0, 0.1);
        background-color: #0B5ABB;
        color: white;
    }
}


.link{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin: 0px  0px 10px 5px;
}